# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/__pycache__/

**/images
**/chat.txt
**/saved_weights_sentiment_chat12.pt
**/test.py
**/prepare_data.py
**/text.py
**/text_processor.py
**/bertarchitecture.py
**/CNN_model_1.pt
**/CNN_model_2.pt
**/CNN_model_3.pt
**/CNN_model_4.pt
**/CNN_model_5.pt
**/CNN_model_6.pt
**/CNN_model_7.pt
**/CNN_model_8.pt
**/CNN_model_9.pt
**/CNN_model_10.pt
**/p1.jpg
**/p2.jpg
**/p3.jpg
**/script.py