$backgroundColor: white;
$containerColor: rgb(59, 63, 59);
$lightContainerColor: rgb(55, 77, 55);
$helloColor: rgb(21, 31, 23);

html, body{
    margin: 0;
    background-color: white;
}

@mixin mobile{
    @media screen and (max-width:480px){
        @content
    }
}

@mixin tablet{
    @media screen and (max-width:768px){
        @content
    }
}

@mixin tablet{
    @media screen and (max-width:1200px){
        @content
    }
}

.formContainer{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: $lightContainerColor;
        border: 3px solid;
        border-color: black;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        .logo{
            font-weight: bold;
            font-size: 30px;
        }

        .title{
            font-size: 25px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 10px;
            color: black;

            input{
                &::placeholder{
                    color: black;
                }
                color: white;
                background-color: $lightContainerColor;
                padding: 5px;
                border: none;
                border-bottom: 1px solid black;
                font-size: 15px;
            }

            button{
                border-radius: 20px;
                background-color: black;
                color: white;
                border: none;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 5px;
                font-size: 13px;
                
                img{
                    width: 32px;
                }
            }
        }
        .linkParagraph{
            p{
                font-size: 12px;

                a{
                    color: lightgreen;
                }
                a:hover{
                    color: black;
                }
            }
        }
        .responseMessage{
            text-align: center;
        }
    }
}

.home{
    background-color: white;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;   
    
    .popup {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #ffffff;
        border: 2px solid #070606;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        // font-size: 30px;
      }

    .container{
        border: 5px solid black;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        display: flex;
        overflow: hidden;

        @include tablet{
            width: 90%;
        }

        .sidebar{
            flex: 1;
            background-color: $lightContainerColor;
            border-right: 3px solid black;
            position: relative;

            .navbar{
                color: white;
                display: flex;
                align-items: center;
                background-color: $containerColor;
                height: 40px;
                padding: 10px;
                justify-content: space-between;
                border-bottom: 2px solid black;

                .logo{
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }

                .user{
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    span{
                        font-weight: bold;
                    }

                    img{
                        background-color: white;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: black;
                        color: white;
                        border: none;
                        padding: 5px 10px;
                        border-radius: 10px;
                        cursor: pointer;

                        @include tablet{
                            position: absolute;
                            bottom: 10px;
                            left: 37%;

                        }
                    }
                    button:hover{
                        color: $lightContainerColor
                    }
                }
            }

            .search{
                border-bottom: 1px solid black;

                .searchForm{
                    input{
                        font-size: 18px;
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: white;
                        }
                    }
                }
            }

            .conversations{
                height: calc(100% - 200px);
                overflow-y: auto;
            }

            .userConversation{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: $containerColor;
                    
                    &:hover{

                        .userConversationInfo{
                            p{
                                color: white;
                            }
                        }
                    }
                }
                
                img{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userConversationInfo{
                    span{
                        font-size: 16px;
                        font-weight: bold;
                    }

                    p{
                        font-size: 12px;
                        color: rgb(192, 201, 194);
                    }
                }
            }
        }
        .welcome{
            flex: 3;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $helloColor;
        }
        .chat{
            flex: 3;
            
            .chatInfo{
                color: white;
                font-weight: bold;
                height: 40px;
                padding: 10px;
                background-color: $containerColor;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .chatCallButton{
                    cursor: pointer;
                }
            }

            .call{
                &.false {
                    display: none;
                }
                background-color: black;
                height: 230px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: 1px solid;
                border-color: white;

                .videos{
                    height: 155px;
                    display: flex;
                    align-items: center;
                    justify-content:center;
                    padding: 20px ;
                    .user{
                        padding-right: 10%;
                    }
                    .contact-user{
                        padding-left: 10%;
                    }
    
                    .video{
                        height: 200px;
                        width: 250px;
                    }
                }

                .callBar{
                    cursor: pointer;
                    
                }
            }

            .messages{
                background-color: $helloColor;
                padding: 10px;
                height: calc(100% - 360px);
                overflow-y: auto;

                .message{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        img{
                           width: 40px;
                           height: 40px; 
                           border-radius: 50%;
                           object-fit: cover;
                        }
                    }

                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        // font-size: 30px;

                        p{
                            background-color: white;
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;
                        
                        .messageContent{
                            align-items: flex-end;

                            p{
                                color: white;
                                background-color: $lightContainerColor;
                                padding: 10px;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }


                    }
                }
            }

            .input{
                height: 30px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 16px;
                }
 
                button{
                    color: white;
                    border: 2px solid;
                    border-color: black;
                    padding: 10px 15px;
                    background-color: $lightContainerColor;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.call-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid $lightContainerColor;
    box-shadow: 0 0 10px rgba(172, 165, 165, 0.1);
    text-align: center;

    .button-container {
        margin-top: 20px;
      
        button {
          margin: 0 10px;
          padding: 10px;
          cursor: pointer;
        }
    }
  }